Source: libfwsi
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-python, pkg-config, python3-dev, python3-setuptools
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libfwsi
Vcs-Git: https://github.com/libyal/libfwsi.git

Package: libfwsi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfwsi1
Replaces: libfwsi1
Suggests: libfwsi-dbg
Description: Library to access the Windows Shell Item format
 libfwsi is a library to access the Windows Shell Item format.

Package: libfwsi-dbg
Architecture: any
Section: debug
Depends: libfwsi (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfwsi
 Debugging symbols for libfwsi.

Package: libfwsi-dev
Section: libdevel
Architecture: any
Depends: libfwsi (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfwsi
 Header files and libraries for developing applications for libfwsi.

Package: libfwsi-python3
Section: python
Architecture: any
Depends: libfwsi (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libfwsi
Replaces: python3-libfwsi
Suggests: libfwsi-python3-dbg
Description: Python 3 bindings for libfwsi
 Python 3 bindings for libfwsi.

Package: libfwsi-python3-dbg
Section: debug
Architecture: any
Depends: libfwsi-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfwsi-python3
 Debugging symbols for libfwsi-python3.

